*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body, html{
    color: #000000;
    background: linear-gradient(to bottom ,#b9b9b9,#d4e9e8,#d4e9e8,#d4e9e8,#d69074);
    height: 100%;
  
}

/*inicio do cabecalho*/
header{
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    background: #c55e35;    
}

.menu{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    float: right;
    text-decoration: none;
    list-style: none;
    padding: 0 25px; 
    margin-right: 35px;  
    transition: 1s;  
}

.menu ul li:hover{
    padding-top: 10px;
}


.menu li a{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: overline;
    color: black;
    transition: 1s;
    
}

.menu li a:hover{
    background: black;
    color: white;
    text-decoration: none;
    
}

/*final do cabecalho*/

/*inicio do corpo home*/
section{
   
    width: 85%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    place-items: center;
    padding-right: 100px;
    margin-top: 30px;
   
}

.foto {
    width: 25%;
}

.foto img {
    border-radius: 1px 200px;
    border: 10px solid yellow;
    position: center;
    animation: borda 3s infinite linear;
}

@keyframes borda {
    20% {
        border-color: #009de0;
    }
    75% {
        border-color: #23ee09;
    }
    100% {
        border-color: yellow;
    }
}
.texto{
    text-align: center;
    font-size: 25px;
}

button{
    color: white;
    font-size: 15px;
    background: black;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    

}

button:hover{
    padding-bottom: 3px;
    background: #c55e35;
    
}



.redes{
    
    width: 4.5%;
    height: 100px;
    margin-bottom: 170px;
    padding-left: 40px;
}    

.redes ul li{

    list-style: none;
    width: 80px;
    height: 80px;
    padding: 20px 0;
    
}

.redes ul li:hover{
    padding-top: 15px;

}

/*final do corpo home*/

/*inicio do contato*/

.contato{
    width: 35%;
    height: 530px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    background: #ffffff33;
    border-radius: 25px;
    border: 4px solid #000000;
    margin-top: 80px;
}   

.caixa1{
   
    width: 75%;
    text-align: center;
    margin-top: 160px;
    margin-left: 40px;
}

.caixa2{
    width: 13%;
    margin-right: 60px;
    margin-top: 80px;
}

.caixa2 ul li{
    list-style: none;
    padding-top: 20px;

}

.caixa2 ul li:hover{   
    padding-top: 25px;
   

}

/*final do contato*/

/*inicio do sobre*/
.sobre{
   
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.sobre1{
   
    width: 52%;
    font-size: 27px;
    color: black;

}

.sobre2{ 
    
    width: 28%;
    
}

.sobre2 img{
    border: 7px solid yellow;
    border-radius: 200px;
    animation: borda 3s infinite linear;
    
}
/*final do sobre*/

/*inicio do portifolio*/

.quadro1{ 
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 150px ;
    
}

.foto1{
    border: 2px solid #000000;
    background: #c55e35;
    width: 15%;
    height: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.foto1:hover{
    margin-top: 10px;
}

p{
    font-size: 22px;
}
/*final do portifolio*/

/*começo das skills*/

.quadro{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 190px ;
    line-height: center;
}   

.foto10{
    width: 19%;
    height: 250px;
   
}

.foto11{
    width: 19%;
    height: 250px;
    padding-top: 40px;
}

.foto12{
    width: 19%;
    height: 250px;
    padding-top: 20px;
}


.foto14{
    width: 19%;
    height: 250px;
    padding-top: 35px;
}

/*final das skills*/
